<div class="container">
    <p class="h1 text-center mt-3">Add New Task</p>
</div>
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded mt-5">
        <div class="card-body">
            <form [formGroup]="taskForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" formControlName="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
                <div class="mb-3">
                    <label for="dueDate" class="form-label">Due Date</label>
                    <input type="date" class="form-control" id="dueDate" formControlName="dueDate">
                </div>
                <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <select type="text" class="form-control" id="priority" formControlName="priority">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>
                <div class="container mt-5">
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary me-2" type="submit" [disabled]="taskForm.invalid"  (click)="onSubmit()">Submit</button>
    
                        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>