<div class="container">
    <p class="h1 text-center mt-3">{{isEditMode == true ? 'Update User' : 'Add New User' }}</p>
</div>
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded mt-5">
        <div class="card-body">
            <form [formGroup]="userForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="date" class="form-control" id="address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <div class="container mt-5">
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary me-2" type="submit" [disabled]="userForm.invalid"  (click)="onSubmit()">Save</button>
    
                        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>